@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  .three{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fjalla One', sans-serif;
    overflow-x: hidden;
  }
  .row h2{
    font-size: 3em;
    color: #ffffff;
    margin-left: 240px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .work__box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    
}

@media(max-width: 900px) {
    .work__box {
        align-items: initial;
        flex-direction: column-reverse;
        margin-left: 0px;
        align-items: center;
        margin: 10px;
        
    }
}

.work__box:not(:last-child) {
    margin-bottom: 5rem;
}

@media(max-width: 500px) {
    .work__box:not(:last-child) {
        margin-bottom: 20rem;
    }
}

.work__links {
    display: flex;
    align-items: center;
}

.work__text {
    flex: 0 0 30%;
    font-size: large;
    color: #ffffff;
}

.work__text h3{
  font-size: 2em;
  color: #c0292b;
  margin-top: 0px;
  margin-bottom: 10px;
}

.work__list {
    /* list-style-type: square; */
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
    font-style: italic;
    margin-top: 10px;
    color: #ffffff;
}

.work__code {
    display: block;
    height: 2rem;
    margin-left: var(--gutter-normal);
    transition: all .3s;
    margin: 15px;
}

.work__code:hover {
    transform: scale(1.2);
}

.work__image-box {
    margin-bottom: var(--gutter-normal);
}
.work__image1{
  height: 320px;
  width: 420px;
  border-radius: 1%;
  box-shadow: 0 0 10px #77756d;
}
.work__image2{
  height: 320px;
  width: 420px;
  border-radius: 1%;
  box-shadow: 0 0 10px #77756d;
}
.work__image3{
  height: 320px;
  width: 420px;
  border-radius: 1%;
  box-shadow: 0 0 10px #77756d;
}

@media(min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 10rem;
    }
    
}

@media(max-width: 900px) {
    .work__code {
        height: 2rem;
    }
    .work__image1{
      height: 350px;
      width: 340px;
    }
    .work__image2{
      height: 350px;
      width: 340px;
    }
    .work__image3{
      height: 350px;
      width: 340px;
    }
    .three{
      margin-left: 20px;
    }
}